#logo{
    width: 330px;
}
.bg-color-primary{
    background-color:#F04688 ;
}
#p{
    margin-top: 40px;
}
.form-control{
    padding: 3px;
    width:370px;
    
}

#btn{
    margin-top: 10px;
}
#botao{
    width:300px;
    text-align: center;
    font-size: 14px;
    background-color: #F04688;
    color:#FFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding:5px;
    border-radius: 8px;
}
.row{
    margin-top: 150px;
}
#p2{
    font-size: 12px;
}
#botaoRes{
    width:190px;
    text-align: center;
    font-size: 14px;
    background-color:#FFF;
    color: #F04688;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding:14px;
    border-radius: 28px;
}
nav{
    text-align: right;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 32px;
}
nav a{
    text-decoration: none; 
    color: #000;
}
h1{
    font-weight: bold;
}